# Node modules
node_modules

# Logs
geckodriver.log

# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Vim 
*.swp
*.swo

# Mac
.DS_Store

#Python
*.pyc

#IDE
.vscode
